<p id="notice"><%= notice %></p>

<div id= "ne-list" class="subcontainer col-lg-10 col-md-10">
  <!--                          NE list                              -->
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>
          <input id= "ne-check-all" type="checkbox" />
        </th>
        <th>Name</th>
        <th>Status</th>
        <th>Load</th>
        <th>System</th>
        <th>ECType</th>
      </tr>
    </thead>

    <tbody class="ne-index">
    <% for ne in @nes %>
    <tr>
      <td>
        <span> <input class="ne-check" type="checkbox" value=<%= ne[:id] %> > </span>
      </td>
      <td> <%= ne[:name] %> </td>
      <td> <%= ne_status ne %> </td>
      <td> <%= ne[:version] %> </td>
      <td> <%= ne[:system] %> </td>
      <td> <%= ne[:ectype] %> 
      
        <!-- These buttons lay within ECTYPE cell not to create their own -->
        <%= button_to "delete", user_ne_delete_path(@user, ne), remote: true, :method => :get, 
          :form => {"style" => "display:none", "id" => "delete-"+ne[:id].to_s}, :data => ne[:id] %>

        <%= button_to "edit", edit_user_ne_path(@user, ne), :remote => true, :method => :get, 
          :form => {"style" => "display:none", "id" => "edit-"+ne[:id].to_s}, :data => ne[:id] %>

        <%= button_to "upgrade", user_ne_upgrade_path(@user, ne), :method => :post, 
          :form => {"style" => "display:none", "id" => "upgrade-"+ne[:id].to_s}, :data => ne[:id] %>
      </td>
    </tr>

    <% end %>
    </tbody> 
  </table>

  <div id="ne-modal" class="modal fade"></div>
</div> <!-- NE list -->


<!-- Attempt to load Branches dynamically -->
<div id= "profile-list" class="subcontainer col-lg-10 col-md-10">

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>
          <input id= "branch-check-all" type="checkbox" />
        </th>
        <th>Name</th>
        <th>Released?</th>
        <th>Root</th>
        <!-- <td>&nbsp;</td> -->
      </tr>
    </thead>

    <tbody class="branch-index">
      <% @branches.each do |branch| %>
        <tr>
          <td>
          <span> <input class="branch-check" type="checkbox" value=<%= branch[:id] %> > </span>
          </td>
          <td><%= branch.name %></td>
          <td><%= branch.completed %></td>
          <td><%= branch.root %>
            <!-- These buttons lay within ECTYPE cell not to create their own -->
            <%= button_to "delete", user_branch_delete_path(@user, branch), remote: true, :method => :get, 
              :form => {"style" => "display:none", "id" => "delete-"+branch[:id].to_s}, :data => branch[:id] %>

            <%= button_to "edit", edit_user_branch_path(@user, branch), :remote => true, :method => :get, 
              :form => {"style" => "display:none", "id" => "edit-"+branch[:id].to_s}, :data => branch[:id] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="branch-modal" class="modal fade"></div>
</div> <!-- Profile list -->

