<%= form_for([@user, @ne]) do |f| %>
  <% if @ne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ne.errors.count, "error") %> prohibited this NE from being saved:</h2>

      <ul>
      <% @ne.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :ectype %><br>

    <%= f.select(:ectype, options_for_select(['EC', 'ECX', 'ARMADA', 'PSS4', 'ECE']) ) %>
  </div>
  <br>

  <div class="actions">
    <input class="btn btn-primary btn-block" type="submit" value="Submit" />
  </div>
  <br>
<% end %>