    <div id= "left-pane" class="col-lg-2 col-md-2">
      <div>

        <form class="button_to" method="get" action="/">
            <input id="home" class="btn btn-primary btn-block" type="submit" value="Home" />
        </form>

        <!-- Example of not using Helpers -->
        <form class="button_to" method="get" data-remote="true" action= <%= new_user_ne_path(@user) %> >
            <input class="btn btn-primary btn-block"  type="submit" value="Add NE" />
        </form>

        <!-- Example of submit tag -->
        <!-- remember that this button is just a pointer -->
        <%= submit_tag "Edit NE", :type => 'button', :class => "btn btn-primary btn-block", :id => 'edit-button'  %>


        <form class="button_to" method="delete" action="">
            <%= submit_tag "Delete NE", :type => 'button', :class => "btn btn-primary btn-block", :id => 'delete-button'  %>
        </form>


        <form class="button_to" method="post" action="upgrade">
            <%= submit_tag "Upgrade NE", :type => 'button', :class => "btn btn-primary btn-block", :id => 'upgrade-button'  %>
        </form>

        <form>
        <button id="button-launch" type="button" class="btn btn-primary btn-block"> Launch </button>
        </form>

        <!-- Edit User button -->
        <!--
        <form class="button_to" method="get" action=<%= edit_user_path(@user) %>>
            <%= submit_tag "Edit roots", :type => 'submit', :class => "btn btn-primary btn-block", :id => 'button-edit-profiles'  %>
        </form>
        -->

        <!-- Example of link_to -->
        <%= link_to "New Branch", new_user_branch_path(@user), remote: true,  class: "btn btn-primary btn-block" %>

        <form>
        <button id="button-edit-systems" type="button" class="btn btn-primary btn-block"> Edit Systems </button>
        </form>
      </div>
    </div>


